@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color-adjust: exact; /* bg colors in firefox print/pdf */
}
table {
  table-layout: fixed;
  width: 90%;
}

td {
  height: 22px;
  text-align: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
